footer {
  z-index: 19;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0px;
  text-align: center;
}

.footer-light {
  background-color: #dbdbdb;
  color: #555555;
}

.footer-dark {
  background-color: #44475a;
  color: #f8f8f2;
}

footer p {
  font-size: 14px;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

.dev-name {
  font-weight: 500;
}
