.navbar {
  display: flex;
  background-color: #f8f8f8;
  height: 60px;
  justify-content: space-between;
}

.navbar-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  margin-left: auto;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.navbar-list-ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar li:hover {
  background-color: rgb(221, 189, 173);
  color: #666;
}

.navbar-button {
  width: 35px;
}

.navbar-m-button {
  transition: all 0.5s ease;
  z-index: 21;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-open {
  animation: slideInRight 0.3s forwards;
  z-index: 20;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 173, 173);
  height: 100vh;
}

.navbar-list-ul-m {
  margin: 60px 0 0 0;
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.navbar-m-button-open {
  padding-right: 45px;
}

@media (min-width: 1024px) {
  .navbar-list {
    display: flex;
  }
  .navbar-m-button {
    display: none;
  }
}

@keyframes slideInRight {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
