.navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.nav-light {
  background-color: #dbdbdb;
  color: #000;
}

.nav-dark {
  background-color: #44475a;
  color: #fff;
}

.nav-dark a {
  color: #fff;
}

.nav-light a {
  color: #000;
}

.navimg-dark {
  filter: invert(1);
}

.navbar-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  margin-left: auto;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.navbar-list-ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.logo {
  padding-top: 5px;
  width: 200px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar li:hover {
  background-color: rgb(221, 189, 173);
}

.navbar-button {
  width: 35px;
}

.navbar-m-button {
  transition: all 0.5s ease;
  z-index: 21;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-open {
  animation: slideInRight 0.3s forwards;
  z-index: 20;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 173, 173);
  height: 100vh;
}

.navbar-list-ul-m {
  margin: 60px 0 0 0;
  list-style: none;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
}

.navbar-m-button-open {
  padding-right: 55px;
}

@media (min-width: 1024px) {
  .navbar-list {
    display: flex;
  }
  .navbar-m-button {
    display: none;
  }
}

@keyframes slideInRight {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.nav-switch-div {
  margin: 0 20px;
  margin-bottom: 5px;
}

/* The switch - the box around the slider */
.nav-switch {
  font-size: 9px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.nav-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.nav-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: rgb(113, 113, 113);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-switch input:checked + .nav-slider {
  background: #0974f1;
}

.nav-switch input:focus + .nav-slider {
  box-shadow: 0 0 1px #0974f1;
}

.nav-switch input:checked + .nav-slider:before {
  transform: translateX(1.6em);
}
