.docdash {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.docdash-heading {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.docdash-section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.docdash-section1-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 150px;
  background-color: #3f51b5a1;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

.docdash-section1-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-right: 15px;
}

.docdash-section1-container:hover {
  background-color: #3f51b5;
}

.docdash-section1-container h3 {
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
}

.docdash-section1-number {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.docdash-section1-img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 20px;
}

.docdash-section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f51b5a1;
  border-radius: 10px;
  margin: 0px 20px;
  padding: 20px 10px;
  text-align: left;
}

.docdash-table {
  width: 90%;
}

.docdash-table th {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.docdash-table-btn {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.docdash-table-btn-parent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.docdash-section3-container {
  margin: 30px 20px;
}
